In [14]:
import pandas as pd
import numpy as np
from scipy import stats
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.decomposition import PCA

In [5]:
df=pd.read_csv('/home/siva/Downloads/heart_failure_clinical_records_dataset.csv')
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [6]:
df['age_z']=(df['age']-df['age'].mean())/df['age'].std()
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,age_z
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1,1.190949
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1,-0.490457
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1,0.350246
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1,-0.910808
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1,0.350246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0,0.098035
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0,-0.490457
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0,-1.331160
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0,-1.331160
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0,-0.910808

In [7]:
df=df[(df['age_z']<3) | (df['age_z']<-3)]
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,age_z
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1,1.190949
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1,-0.490457
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1,0.350246
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1,-0.910808
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1,0.350246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0,0.098035
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0,-0.490457
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0,-1.331160
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0,-1.331160
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0,-0.910808

In [8]:
z_scores=np.abs(stats.zscore(df))
z_scores

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,age_z
0,1.192945,0.871105,0.000166,0.847579,1.530560,1.359272,1.681648e-02,0.490057,1.504036,0.735688,0.687682,1.629502,1.454161,1.192945
1,0.491279,0.871105,7.514640,0.847579,0.007077,0.735688,7.535660e-09,0.284552,0.141976,0.735688,0.687682,1.603691,1.454161,0.491279
2,0.350833,0.871105,0.449939,0.847579,1.530560,0.735688,1.038073e+00,0.090900,1.731046,0.735688,1.454161,1.590785,1.454161,0.350833
3,0.912335,1.147968,0.486071,0.847579,1.530560,0.735688,5.464741e-01,0.490057,0.085034,0.735688,0.687682,1.590785,1.454161,0.912335
4,0.350833,1.147968,0.435486,1.179830,1.530560,0.735688,6.517986e-01,1.264666,4.682176,1.359272,0.687682,1.577879,1.454161,0.350833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,0.098199,0.871105,0.537688,1.179830,0.007077,1.359272,1.109765e+00,0.284552,1.447094,0.735688,1.454161,1.803451,0.687682,0.098199
295,0.491279,0.871105,1.278215,0.847579,0.007077,0.735688,6.802472e-02,0.187726,0.539054,1.359272,0.687682,1.816357,0.687682,0.491279
296,1.333392,0.871105,1.525979,1.179830,1.854958,0.735688,4.902082e+00,0.575031,0.312044,1.359272,0.687682,1.906697,0.687682,1.333392
297,1.333392,0.871105,1.890398,0.847579,0.007077,0.735688,1.263389e+00,0.005926,0.766064,0.735688,1.454161,1.932509,0.687682,1.333392
298,0.912335,0.871105,0.398321,0.847579,0.585389,0.735688,1.348231e+00,0.199578,0.141976,0.735688,1.454161,1.997038,0.687682,0.912335

In [9]:
df=df[(z_scores<3).all(axis=1)]
df.reset_index(inplace=True,drop=True)
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,age_z
0,75.0,0,582,0,20,1,265000.0,1.9,130,1,0,4,1,1.190949
1,65.0,0,146,0,20,0,162000.0,1.3,129,1,1,7,1,0.350246
2,50.0,1,111,0,20,0,210000.0,1.9,137,1,0,7,1,-0.910808
3,90.0,1,47,0,40,1,204000.0,2.1,132,1,1,8,1,2.452003
4,75.0,1,246,0,15,0,127000.0,1.2,137,1,0,10,1,1.190949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,63.0,1,103,1,35,0,179000.0,0.9,136,1,1,270,0,0.182105
276,62.0,0,61,1,38,1,155000.0,1.1,143,1,1,270,0,0.098035
277,55.0,0,1820,0,38,0,270000.0,1.2,139,0,0,271,0,-0.490457
278,45.0,0,2413,0,38,0,140000.0,1.4,140,1,1,280,0,-1.331160
279,50.0,0,196,0,45,0,395000.0,1.6,136,1,1,285,0,-0.910808

In [10]:
scaler=MinMaxScaler()
df_scaled=scaler.fit_transform(df)
df_scaled=pd.DataFrame(df_scaled,columns=df.columns)
df_scaled

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT,age_z
0,0.636364,0.0,0.201732,0.0,0.117647,1.0,0.463217,0.358974,0.250000,1.0,0.0,0.000000,1.0,0.636364
1,0.454545,0.0,0.044388,0.0,0.117647,0.0,0.264337,0.205128,0.208333,1.0,1.0,0.010676,1.0,0.454545
2,0.181818,1.0,0.031757,0.0,0.117647,0.0,0.357019,0.358974,0.541667,1.0,0.0,0.010676,1.0,0.181818
3,0.909091,1.0,0.008661,0.0,0.509804,1.0,0.345433,0.410256,0.333333,1.0,1.0,0.014235,1.0,0.909091
4,0.636364,1.0,0.080476,0.0,0.019608,0.0,0.196756,0.179487,0.541667,1.0,0.0,0.021352,1.0,0.636364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,0.418182,1.0,0.028870,1.0,0.411765,0.0,0.297162,0.102564,0.500000,1.0,1.0,0.946619,0.0,0.418182
276,0.400000,0.0,0.013713,1.0,0.470588,1.0,0.250821,0.153846,0.791667,1.0,1.0,0.946619,0.0,0.400000
277,0.272727,0.0,0.648502,0.0,0.470588,0.0,0.472871,0.179487,0.625000,0.0,0.0,0.950178,0.0,0.272727
278,0.090909,0.0,0.862505,0.0,0.470588,0.0,0.221858,0.230769,0.666667,1.0,1.0,0.982206,0.0,0.090909
279,0.181818,0.0,0.062432,0.0,0.607843,0.0,0.714231,0.282051,0.500000,1.0,1.0,1.000000,0.0,0.181818

In [26]:
models={
    'svc':{
        'model':SVC(gamma='auto'),
        'params':{
            'kernel':['linear', 'poly', 'rbf', 'sigmoid'],
            'C':[1,10,20]
        }
    },
    'random_forest':{
        'model':RandomForestClassifier(),
        'params':{
            'n_estimators':[50,100,250,500,1000,1500]
        }
    },
    'logistic_regression':{
        'model':LogisticRegression(),
        'params':{
            'C':[1,10,20]
        }
    },
    'gaussian_nb':{
        'model':GaussianNB(),
        'params':{
            
        }
    },
    'decision_tree':{
        'model':DecisionTreeClassifier(),
        'params':{
            'criterion':['gini', 'entropy', 'log_loss']
        }
    }
}

In [27]:
score=[]
for model_name,model_params in models.items():
    gsv_clv=GridSearchCV(model_params['model'],\
        model_params['params'],cv=5,return_train_score=False)
    gsv_clv.fit(df_scaled.drop(['DEATH_EVENT'],axis=1),\
                df_scaled['DEATH_EVENT'])
    score.append([model_name,gsv_clv.best_score_,\
                  gsv_clv.best_params_])
score

[['svc', 0.775, {'C': 20, 'kernel': 'linear'}],
 ['random_forest', 0.7035714285714286, {'n_estimators': 50}],
 ['logistic_regression', 0.7928571428571429, {'C': 1}],
 ['gaussian_nb', 0.7928571428571429, {}],
 ['decision_tree', 0.6535714285714287, {'criterion': 'gini'}]]

In [28]:
df_score=pd.DataFrame(score,columns=['model','best_score','best_params'])
df_score

                 model  best_score                    best_params
0                  svc    0.775000  {'C': 20, 'kernel': 'linear'}
1        random_forest    0.703571           {'n_estimators': 50}
2  logistic_regression    0.792857                       {'C': 1}
3          gaussian_nb    0.792857                             {}
4        decision_tree    0.653571          {'criterion': 'gini'}

In [29]:
pca=PCA(n_components=0.95)

In [30]:
df_pcaed=pca.fit_transform(df_scaled.drop(['DEATH_EVENT'],axis=1))
df_pcaed

array([[-0.18198653,  0.23527803,  0.86128511, ...,  0.38420857,
        -0.22619467, -0.01016498],
       [-0.97417963, -0.09597636,  0.04736647, ...,  0.55055075,
        -0.14718385, -0.06043532],
       [-0.13538831,  0.56328689, -0.53221431, ...,  0.65621092,
         0.02257599, -0.07771465],
       ...,
       [ 0.26248885, -0.35492211, -0.02220757, ..., -0.25306542,
        -0.21777825,  0.35704504],
       [-0.97640796, -0.3504697 , -0.07043019, ..., -0.23865754,
        -0.18679071,  0.56896319],
       [-0.95483118, -0.29125822, -0.05962879, ..., -0.30882354,
         0.01606162, -0.25496429]])

In [31]:
score_pcaed=[]
for model_name,model_params in models.items():
    gsv_clv=GridSearchCV(model_params['model'],\
        model_params['params'],cv=5,return_train_score=False)
    gsv_clv.fit(df_pcaed,\
                df_scaled['DEATH_EVENT'])
    score_pcaed.append([model_name,gsv_clv.best_score_,\
                  gsv_clv.best_params_])
score_pcaed

[['svc', 0.7714285714285714, {'C': 1, 'kernel': 'linear'}],
 ['random_forest', 0.7464285714285714, {'n_estimators': 50}],
 ['logistic_regression', 0.7928571428571429, {'C': 1}],
 ['gaussian_nb', 0.8071428571428572, {}],
 ['decision_tree', 0.6892857142857143, {'criterion': 'gini'}]]

In [33]:
df_pcaed_score=pd.DataFrame(score_pcaed,columns=['model','score','param'])
df_pcaed_score

                 model     score                         param
0                  svc  0.771429  {'C': 1, 'kernel': 'linear'}
1        random_forest  0.746429          {'n_estimators': 50}
2  logistic_regression  0.792857                      {'C': 1}
3          gaussian_nb  0.807143                            {}
4        decision_tree  0.689286         {'criterion': 'gini'}

In [34]:
df_score

                 model  best_score                    best_params
0                  svc    0.775000  {'C': 20, 'kernel': 'linear'}
1        random_forest    0.703571           {'n_estimators': 50}
2  logistic_regression    0.792857                       {'C': 1}
3          gaussian_nb    0.792857                             {}
4        decision_tree    0.653571          {'criterion': 'gini'}